body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  .container{
    width: 100%;
    height: 100vh;
  }
  
  .header{
    width: 100%;
    height: 10%;
    display: flex;
  }
  
  .header .logo{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .header .pesquisa{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .header .pesquisa .barra{
    width: 80%;
    height: 70%;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .header .pesquisa .barra .icone{
    width: 6%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  .header .pesquisa .barra .campo{
    width: 94%;
    height: 100%;
  }
  
  .header .pesquisa .barra .campo input{
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
    outline: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .header .info{
    width: 20%;
    height: 100%;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: flex-end;
    padding-right: 15px;
  }
  
  .header .info img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .main{
    width: 100%;
    height: 90%;
    display: flex;
  }
  
  .main .menu{
    width: 20%;
    height: 100%;
  }
  
  .main .menu .opcao{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    gap: 10px;
    transition: all 300ms ease;
    color: #9d9d9d;
  }
  
  .main .menu .opcao:hover{
    background-color: #ccc;
  }
  
  #selecionado{
    border-left: 5px solid #4040e1;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: black;
  }

  .main .menu .campo{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main .menu .campo button{
    border: none;
    background-color: #4040e1;
    color: white;
    border-radius: 7px;
    padding: 10px 65px;
    transition: all 300ms ease;
  }

  .main .menu .campo button:hover{
    background-color: white;
    color: #4040e1;
    border: 1px solid #4040e1;
    cursor: pointer;

  }
  
  .main .menu .opcao i{
    font-size: 20px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .main .conteudo{
    width: 80%;
    height: 100%;
    background-color: #f0f0f0;
    padding: 30px;
  }

  .main .conteudo .info{
    display: flex;
    width: 100%;
    height: 55px;
    background-color: #4040e1;
    border-radius: 10px;
    color: white;
  }

  .main .conteudo .info .icone{
    width: 5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main .conteudo .info .textos{
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
  }

  .main .conteudo .info .textos a{
    color: white;
    text-decoration: none;
  }

.main .conteudo .cards{
  display: flex;
  margin-top: 30px;
  gap: 10px;
}

.main .conteudo .cards .card{
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  width: 40%;
  height: 110px;
}

.main .conteudo .cards .card .icone{
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card .icone i{
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#card-1 .icone i{
  background-color: #db774940;
  color: #a94f2c;
}

#card-2 .icone i{
  background-color: #49db8840;
  color: #30915a;
}

#card-3 .icone i{
  background-color: #385ac340;
  color: #2c4fa9;
}

#card-4 .icone i{
  background-color: #31a59440;
  color: #2c98a9;
}